.header {
  color: white;
}

.header__box {
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  background: black;
  padding-top: 100px;
  padding-bottom: 25px;
}

.header__logo {
  margin-left: 10%;
}

.header__options {
  display: flex;
  margin-right: 10%;
}

.header__button {
  border: none;
  background: transparent;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}
